<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">{{ user.name }}</h1>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios, route }) {
    const user = await $axios.$get(
      `https://jsonplaceholder.typicode.com/users/${route.params.id}`
    )
    return { user }
  },
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 80px;
  color: #35495e;
  letter-spacing: 1px;
}
</style>
