<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">WELCOME</h1>
      <div class="links">
        <NuxtLink
          v-for="user in users"
          :key="user.id"
          :to="`detail/${user.id}`"
          class="button--green"
        >
          {{ user.name }}
        </NuxtLink>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios }) {
    const users = await $axios.$get(
      'https://jsonplaceholder.typicode.com/users'
    )
    return { users }
  },
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 80px;
  color: #35495e;
  letter-spacing: 1px;
}

.links {
  padding-top: 15px;
}
</style>
